@page "/register"
@attribute [AllowAnonymous]
@using LifeManager.Data
@using LifeManager.Model
@using LifeManager.Services
@inject UserService UserService
@inject HouseService HouseService
@inject NavigationManager Nav
@rendermode InteractiveServer

<div class="flex items-center justify-center min-h-[80vh] py-8">
    <div class="card w-full max-w-md bg-base-100 shadow-xl border border-base-300">
        <div class="card-body">
            <h2 class="card-title text-2xl font-bold justify-center mb-4">Create an Account</h2>
            
            @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <div class="alert alert-error text-sm py-2">@_errorMessage</div>
            }

            <EditForm Model="_model" OnValidSubmit="HandleRegistration" FormName="RegisterForm" class="space-y-4">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <label class="floating-label w-full mb-4">
                    <span>House Name</span>
                    <InputText class="input input-bordered w-full" @bind-Value="_model.HouseName" />
                    <ValidationMessage For="() => _model.HouseName" class="text-error text-xs mt-1" />
                </label>

                <div class="grid grid-cols-2 gap-4">
                    
                    <label class="floating-label w-full mb-4">
                        <label>Firstname</label>
                        <InputText class="input input-bordered w-full" @bind-Value="_model.Firstname"/>
                        <ValidationMessage For="() => _model.Firstname" class="text-error text-xs mt-1"/>
                    </label>
                    
                    <label class="floating-label w-full mb-4">
                        <label>Lastname</label>
                        <InputText class="input input-bordered w-full" @bind-Value="_model.Lastname"/>
                        <ValidationMessage For="() => _model.Lastname" class="text-error text-xs mt-1"/>
                    </label>
                </div>
                
                <label class="floating-label w-full mb-4">
                    <span>Username</span>
                    <InputText class="input input-bordered w-full" @bind-Value="_model.Username" />
                    <ValidationMessage For="() => _model.Username" class="text-error text-xs mt-1" />
                </label>
                
                <label class="floating-label w-full mb-4">
                    <span>Email</span>
                    <InputText type="email" class="input input-bordered w-full" @bind-Value="_model.Email" />
                    <ValidationMessage For="() => _model.Email" class="text-error text-xs mt-1" />
                </label>
                
                <label class="floating-label w-full mb-4">
                    <label>Password</label>
                    <InputText type="password" class="input input-bordered w-full" @bind-Value="_model.Password" />
                    <ValidationMessage For="() => _model.Password" class="text-error text-xs mt-1" />
                </label>
                
                <label class="floating-label w-full mb-4">
                    <label><span>Confirm Password</span></label>
                    <InputText type="password" class="input input-bordered w-full" @bind-Value="_model.ConfirmPassword" />
                    <ValidationMessage For="() => _model.ConfirmPassword" class="text-error text-xs mt-1" />
                </label>
                
                <div class="card-actions justify-center mt-6">
                    <button type="submit" class="btn btn-primary w-full">Register</button>
                    <a href="/login" class="link link-hover text-sm mt-2">Already have an account? Login</a>
                </div>
            </EditForm>
        </div>
    </div>
</div>

@code {
    private readonly RegisterModel _model = new();
    private string? _errorMessage;

    private async Task HandleRegistration()
    {
        Console.WriteLine("test");
        _errorMessage = null;
        
        var newHome = new Home()
        {
            Name = _model.HouseName
        };

        await HouseService.CreateHomeAsync(newHome);
  
         var newUser = new User
        {
            Firstname = _model.Firstname,
            Lastname = _model.Lastname,
            Username = _model.Username,
            Email = _model.Email,
            HomeId = newHome.Id,
            Password = _model.Password,
            TotalXp = 0
        };
        
        var isSuccess = await UserService.RegisterAsync(newUser);
        if (isSuccess)
        {
            Nav.NavigateTo("/login");
        }
        else
        {
        // solution en attendant pour éviter de sortir du scope de mon ticket 
            await HouseService.DeleteHomeAsync(newHome);
            _errorMessage = "This email is already in use.";
        }
    }
}