@page "/rooms/create"
@using LifeManager.Data
@using LifeManager.Model
@using LifeManager.Services
@inject AppDbContext DbContext
@inject NavigationManager Navigation
@inject UserService UserService 
@rendermode InteractiveServer

<h3>Ajouter une Pièce</h3>

<div class="row">
    <div class="col-md-4">
        <EditForm Model="_model" OnValidSubmit="AddRoom" FormName="CreateRoomForm">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="mb-3">
                <label class="form-label">Nom de la pièce :</label>
                <InputText class="form-control" @bind-Value="_model.Name" />
            </div>

            <button type="submit" class="btn btn-success">Sauvegarder</button>
            <a href="/rooms" class="btn btn-secondary">Annuler</a>
        </EditForm>
    </div>
</div>

@code {
    public CreateRoomModel _model { get; set; } = new();

    private UserDto? _connectedUser;
    
    protected override async Task OnInitializedAsync()
    {
        _connectedUser = await UserService.GetAuthenticatedUserAsync();
    }
    
    private async Task AddRoom()
    {
        if (_connectedUser?.HomeId == null) 
        {
            return;
        }
        
        var room = new Room()
        {
            Name = _model.Name,
            HomeId = _connectedUser.HomeId
        };
     
        DbContext.Rooms.Add(room);
        await DbContext.SaveChangesAsync();
        Navigation.NavigateTo("/rooms");
    }
}