@page "/rooms"
@using Microsoft.EntityFrameworkCore
@using LifeManager.Data
@using LifeManager.Model
@using LifeManager.Services
@inject HouseService HouseService
@inject UserService UserService
@rendermode InteractiveServer

<h3>🏠 Mes Pièces</h3>

<div class="mb-3">
    <a href="/rooms/create" class="btn btn-primary">+ Nouvelle Pièce</a>
</div>

@if (_rooms == null)
{
    <p><em>Chargement...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in _rooms)
        {
            <tr>
                <td>@room.RoomName</td>
                <td>
                    <a href="/rooms/edit/@room.RoomId" class="btn btn-sm btn-secondary">Modifier</a>
                    <button class="btn btn-sm btn-danger" @onclick="() => DeleteRoom(room.RoomId, _connectedUser.HomeId)">Supprimer</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<RoomDashboardDto>? _rooms;
    private UserDto? _connectedUser;

    protected override async Task OnInitializedAsync()
    {
        _connectedUser = await UserService.GetAuthenticatedUserAsync();
        if (_connectedUser == null) { return; }
        _rooms = await HouseService.GetRoomsAsync(_connectedUser.HomeId);
    }

    private async Task DeleteRoom(int roomId, int homeId)
    {
        await HouseService.DeleteRoomAsync(roomId, homeId);
        if (_connectedUser != null) _rooms = await HouseService.GetRoomsAsync(homeId);
    }
}