@using LifeManager.Data
@using LifeManager.Model
@using LifeManager.Services
@using LifeManager.State
@implements IDisposable
@inject TagStateService TagState
@inject TagModalStateService ModalService
@inject UserService UserService
@rendermode InteractiveServer

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LifeManager</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="menu w-full p-0">
        
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <svg class="w-4 h-4 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z" clip-rule="evenodd"/>
                </svg>
                Dashboard
            </NavLink>
        </div>


        <div class="nav-item">
            <NavLink class="nav-link" href="rooms">
                Pièces
            </NavLink>
        </div>
       
            <div class="nav-item ">
                <div class="flex justify-between p-3">Tags 
                    
                    <a class="cursor-pointer font-bold text-primary" @onclick="ModalService.Show">
                        <svg class="w-5 h-5 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                        </svg>
                    </a>    
                </div> 
                @if (TagState.Tags.Any())
                {
                    <ul class="p-1">
                        @foreach (var tag in TagState.Tags)
                        {
                            <li>
                                <span class="cursor-pointer relative"> <span class="rightshape " style="background-color: @tag.ColorHex"></span> @tag.Label</span>
                            </li>
                        }
                    </ul>
                }
            </div>
    </nav>
</div>

@code {
    private UserDto? _connectedUser;
    
    protected override async Task OnInitializedAsync()
    {
        _connectedUser = await UserService.GetAuthenticatedUserAsync();
        ModalService.OnChange += StateHasChanged;
        TagState.OnChange += StateHasChanged;
        if (_connectedUser != null) await TagState.InitializeAsync(_connectedUser);
    }

    public void Dispose()
    {
        TagState.OnChange -= StateHasChanged;
        ModalService.OnChange -= StateHasChanged;
    }
}